
        <!-- SCROLL-TO-TOP -->
        <div class="scrollToTop">
                <span class="arrow"><i class="ri-arrow-up-s-fill fs-20"></i></span>
        </div>
        <div id="responsive-overlay"></div>

        <!-- POPPER JS -->
        <script src="@Url.Content("~/assets/libs/@popperjs/core/umd/popper.min.js")"></script>

        <!-- BOOTSTRAP JS -->
        <script src="@Url.Content("~/assets/libs/bootstrap/js/bootstrap.bundle.min.js")"></script>

        <!-- COLOR PICKER JS -->
        <script src="@Url.Content("~/assets/libs/@simonwep/pickr/pickr.es5.min.js")"></script>

        <!-- CHOICES JS -->
        <script src="@Url.Content("~/assets/libs/choices.js/public/assets/scripts/choices.min.js")"></script>
        
        <!-- NODE WAVES JS -->
        <script src="@Url.Content("~/assets/libs/node-waves/waves.min.js")"></script>

        <!-- DEFAULTMENU JS -->
        <script src="@Url.Content("~/assets/js/defaultmenu.js")"></script>
        