
            <aside class="app-sidebar sticky" id="sidebar">

                <!-- Start::main-sidebar-header -->
                <div class="main-sidebar-header">
                    <a asp-controller="Home" asp-action="index" class="header-logo">
                        <img src="@Url.Content("~/assets/images/brand-logos/desktop-logo.png")" alt="logo" class="desktop-logo">
                        <img src="@Url.Content("~/assets/images/brand-logos/toggle-logo.png")" alt="logo" class="toggle-logo">
                        <img src="@Url.Content("~/assets/images/brand-logos/desktop-dark.png")" alt="logo" class="desktop-dark">
                        <img src="@Url.Content("~/assets/images/brand-logos/toggle-dark.png")" alt="logo" class="toggle-dark">
                        <img src="@Url.Content("~/assets/images/brand-logos/desktop-white.png")" alt="logo" class="desktop-white">
                        <img src="@Url.Content("~/assets/images/brand-logos/toggle-white.png")" alt="logo" class="toggle-white">
                    </a>
                </div>
                <!-- End::main-sidebar-header -->

                <!-- Start::main-sidebar -->
                <div class="main-sidebar" id="sidebar-scroll">

                    <!-- Start::nav -->
                    <nav class="main-menu-container nav nav-pills flex-column sub-open">
                        <div class="slide-left" id="slide-left">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path> </svg>
                        </div>
                        <ul class="main-menu">
                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Main</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-home side-menu__icon"></i>
                                    <span class="side-menu__label">Dashboards<span class="badge bg-warning-transparent ms-2">12</span></span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Dashboards</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index" class="side-menu__item">CRM</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index2" class="side-menu__item">Ecommerce</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index3" class="side-menu__item">Crypto</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index4" class="side-menu__item">Jobs</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index5" class="side-menu__item">NFT</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index6" class="side-menu__item">Sales</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index7" class="side-menu__item">Analytics</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index8" class="side-menu__item">Projects</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index9" class="side-menu__item">HRM</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index10" class="side-menu__item">Stocks</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index11" class="side-menu__item">Courses</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Home" asp-action="index12" class="side-menu__item">Personal</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Pages</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-file-blank side-menu__icon"></i>
                                    <span class="side-menu__label">Pages<span class="badge bg-secondary-transparent ms-2">New</span></span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Pages</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="aboutus" class="side-menu__item">About Us</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Blog
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="blog" class="side-menu__item">Blog</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="blog_details" class="side-menu__item">Blog Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="blog_create" class="side-menu__item">Create Blog</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="chat" class="side-menu__item">Chat</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="contacts" class="side-menu__item">Contacts</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="contactus" class="side-menu__item">Contact Us</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Ecommerce
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="add_products" class="side-menu__item">Add Products</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="cart" class="side-menu__item">Cart</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="checkout" class="side-menu__item">Checkout</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="edit_products" class="side-menu__item">Edit Products</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="order_details" class="side-menu__item">Order Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="orders" class="side-menu__item">Orders</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="products" class="side-menu__item">Products</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="products_details" class="side-menu__item">Product Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="products_list" class="side-menu__item">Products List</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="wishlist" class="side-menu__item">Wishlist</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Email
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="mail" class="side-menu__item">Mail App</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="mail_settings" class="side-menu__item">Mail Settings</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="empty_page" class="side-menu__item">Empty</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="faqs" class="side-menu__item">FAQ's</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">File Manager
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="filemanager" class="side-menu__item">File Manager</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Invoice
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="invoice_create" class="side-menu__item">Create Invoice</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="invoice_details" class="side-menu__item">Invoice Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Pages" asp-action="invoice_list" class="side-menu__item">Invoice List</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="landing" class="side-menu__item">Landing</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="landing_jobs" class="side-menu__item">Jobs Landing<span class="badge bg-secondary-transparent ms-2">New</span></a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="notifications" class="side-menu__item">Notifications</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="pricing" class="side-menu__item">Pricing</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="profile" class="side-menu__item">Profile</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="reviews" class="side-menu__item">Reviews</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="teams" class="side-menu__item">Teams</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="terms_conditions" class="side-menu__item">Terms & Conditions</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="timeline" class="side-menu__item">Timeline</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Pages" asp-action="todo_list" class="side-menu__item">To Do List</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-task side-menu__icon"></i>
                                    <span class="side-menu__label">Task<span class="badge bg-secondary-transparent ms-2">New</span></span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Task</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Task" asp-action="task_kanban_board" class="side-menu__item">Kanban Board</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Task" asp-action="task_listview" class="side-menu__item">List View</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Task" asp-action="task_details" class="side-menu__item">Task Details</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-fingerprint side-menu__icon"></i>
                                    <span class="side-menu__label">Authentication</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Authentication</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Authentication" asp-action="comingsoon" class="side-menu__item">Coming Soon</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Create Password
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="createpassword_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="createpassword_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li>      
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Lock Screen
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="lockscreen_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="lockscreen_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li>     
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Reset Password
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="resetpassword_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="resetpassword_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li>     
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Sign Up
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="signup_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="signup_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li>  
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Sign In
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="signin_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="signin_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li> 
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Two Step Verification
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="twostep_verification_basic" class="side-menu__item">Basic</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Authentication" asp-action="twostep_verification_cover" class="side-menu__item">Cover</a>
                                            </li>
                                        </ul>
                                    </li> 
                                    <li class="slide">
                                        <a asp-controller="Authentication" asp-action="under_maintenance" class="side-menu__item">Under Maintenance</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-error side-menu__icon"></i>
                                    <span class="side-menu__label">Error</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Error</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Error" asp-action="error401" class="side-menu__item">401 - Error</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Error" asp-action="error404" class="side-menu__item">404 - Error</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Error" asp-action="error500" class="side-menu__item">500 - Error</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">General</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-box side-menu__icon"></i>
                                    <span class="side-menu__label">Ui Elements</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1 mega-menu">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Ui Elements</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="alerts" class="side-menu__item">Alerts</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="badges" class="side-menu__item">Badges</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="breadcrumbs" class="side-menu__item">Breadcrumbs</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="buttons" class="side-menu__item">Buttons</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="buttongroups" class="side-menu__item">Button Groups</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="cards" class="side-menu__item">Cards</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="dropdowns" class="side-menu__item">Dropdowns</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="images_figures" class="side-menu__item">Images & Figures</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="list_groups" class="side-menu__item">List Groups</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="navs_tabs" class="side-menu__item">Navs & Tabs</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="object_fit" class="side-menu__item">Object Fit</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="paginations" class="side-menu__item">Paginations</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="popovers" class="side-menu__item">Popovers</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="progress" class="side-menu__item">Progress</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="spinners" class="side-menu__item">Spinners</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="toasts" class="side-menu__item">Toasts</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="tooltips" class="side-menu__item">Tooltips</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Uielements" asp-action="typography" class="side-menu__item">Typography</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-medal side-menu__icon"></i>
                                    <span class="side-menu__label">Utilities</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Utilities</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="avatars" class="side-menu__item">Avatars</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="borders" class="side-menu__item">Borders</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="breakpoints" class="side-menu__item">Breakpoints</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="colors" class="side-menu__item">Colors</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="columns" class="side-menu__item">Columns</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="flex" class="side-menu__item">Flex</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="gutters" class="side-menu__item">Gutters</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="helpers" class="side-menu__item">Helpers</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="positions" class="side-menu__item">Positions</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Utilities" asp-action="more" class="side-menu__item">Additional Content</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-file side-menu__icon"></i>
                                    <span class="side-menu__label">Forms</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Forms</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Form Elements
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_inputs" class="side-menu__item">Inputs</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_check_radios" class="side-menu__item">Checks & Radios</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_input_groups" class="side-menu__item">Input Groups</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_select" class="side-menu__item">Form Select</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_range" class="side-menu__item">Range Slider</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_input_masks" class="side-menu__item">Input Masks</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_file_uploads" class="side-menu__item">File Uploads</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_datetime_pickers" class="side-menu__item">Date,Time Picker</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="form_color_pickers" class="side-menu__item">Color Pickers</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Forms" asp-action="floating_labels" class="side-menu__item">Floating Labels</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Forms" asp-action="form_layouts" class="side-menu__item">Form Layouts</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Form Editors
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Forms" asp-action="quill_editor" class="side-menu__item">Quill Editor</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Forms" asp-action="form_validations" class="side-menu__item">Validations</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Forms" asp-action="form_select2" class="side-menu__item">Select2</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-party side-menu__icon"></i>
                                    <span class="side-menu__label">Advanced Ui</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Advanced Ui</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="accordions_collapse" class="side-menu__item">Accordions & Collapse</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="carousel" class="side-menu__item">Carousel</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="draggable_cards" class="side-menu__item">Draggable Cards</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="modals_closes" class="side-menu__item">Modals & Closes</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="navbars" class="side-menu__item">Navbars</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="offcanvas" class="side-menu__item">Offcanvas</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="placeholders" class="side-menu__item">Placeholders</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="ratings" class="side-menu__item">Ratings</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="scrollspy" class="side-menu__item">Scrollspy</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Advancedui" asp-action="swiperjs" class="side-menu__item">Swiper JS</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide">
                                <a asp-controller="Widgets" asp-action="widgets" class="side-menu__item">
                                    <i class="bx bx-gift side-menu__icon"></i>
                                    <span class="side-menu__label">Widgets<span class="badge bg-danger-transparent ms-2">Hot</span></span>
                                </a>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Web Apps</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-grid-alt side-menu__icon"></i>
                                    <span class="side-menu__label">Apps<span class="badge bg-secondary-transparent ms-2">New</span></span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Apps</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Apps" asp-action="full_calendar" class="side-menu__item">Full Calendar</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Apps" asp-action="gallery" class="side-menu__item">Gallery</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Apps" asp-action="sweet_alerts" class="side-menu__item">Sweet Alerts</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Projects<span class="badge bg-secondary-transparent ms-2">New</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="projects_list" class="side-menu__item">Projects List</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="projects_overview" class="side-menu__item">Project Overview</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="projects_create" class="side-menu__item">Create Project</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Jobs<span class="badge bg-secondary-transparent ms-2">New</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_details" class="side-menu__item">Job Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_company_search" class="side-menu__item">Company Search</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_search" class="side-menu__item">Job Search</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_post" class="side-menu__item">Job Post</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_list" class="side-menu__item">Job List</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_candidate_search" class="side-menu__item">Search Candidate</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="job_candidate_details" class="side-menu__item">Candidate Details</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">NFT<span class="badge bg-secondary-transparent ms-2">New</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="nft_marketplace" class="side-menu__item">Market Place</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="nft_details" class="side-menu__item">NFT Details</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="nft_create" class="side-menu__item">Create NFT</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="nft_wallet_integration" class="side-menu__item">Wallet Integration</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="nft_live_auction" class="side-menu__item">Live Auction</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">CRM<span class="badge bg-secondary-transparent ms-2">New</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crm_contacts" class="side-menu__item">Contacts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crm_companies" class="side-menu__item">Companies</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crm_deals" class="side-menu__item">Deals</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crm_leads" class="side-menu__item">Leads</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Crypto<span class="badge bg-secondary-transparent ms-2">New</span>
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crypto_transactions" class="side-menu__item">Transactions</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crypto_currency_exchange" class="side-menu__item">Currency Exchange</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crypto_buysell" class="side-menu__item">Buy & Sell</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crypto_marketcap" class="side-menu__item">Marketcap</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Apps" asp-action="crypto_wallet" class="side-menu__item">Wallet</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-layer side-menu__icon"></i>
                                    <span class="side-menu__label">Nested Menu</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Nested Menu</a>
                                    </li>
                                    <li class="slide">
                                        <a href="javascript:void(0);" class="side-menu__item">Nested-1</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Nested-2
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a href="javascript:void(0);" class="side-menu__item">Nested-2-1</a>
                                            </li>
                                            <li class="slide has-sub">
                                                <a href="javascript:void(0);" class="side-menu__item">Nested-2-2
                                                    <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                                <ul class="slide-menu child3">
                                                    <li class="slide">
                                                        <a href="javascript:void(0);" class="side-menu__item">Nested-2-2-1</a>
                                                    </li>
                                                    <li class="slide">
                                                        <a href="javascript:void(0);" class="side-menu__item">Nested-2-2-2</a>
                                                    </li>
                                                </ul>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Tables & Charts</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-table side-menu__icon"></i>
                                    <span class="side-menu__label">Tables<span class="badge bg-success-transparent ms-2">3</span></span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Tables</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Tables" asp-action="tables" class="side-menu__item">Tables</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Tables" asp-action="grid_tables" class="side-menu__item">Grid JS Tables</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Tables" asp-action="data_tables" class="side-menu__item">Data Tables</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-bar-chart-square side-menu__icon"></i>
                                    <span class="side-menu__label">Charts</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Charts</a>
                                    </li>
                                    <li class="slide has-sub">
                                        <a href="javascript:void(0);" class="side-menu__item">Apex Charts
                                            <i class="fe fe-chevron-right side-menu__angle"></i></a>
                                        <ul class="slide-menu child2">
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_line_charts" class="side-menu__item">Line Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_area_charts" class="side-menu__item">Area Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_column_charts" class="side-menu__item">Column Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_bar_charts" class="side-menu__item">Bar Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_mixed_charts" class="side-menu__item">Mixed Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_rangearea_charts" class="side-menu__item">Range Area Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_timeline_charts" class="side-menu__item">Timeline Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_candlestick_charts" class="side-menu__item">CandleStick
                                                    Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_boxplot_charts" class="side-menu__item">Boxplot Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_bubble_charts" class="side-menu__item">Bubble Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_scatter_charts" class="side-menu__item">Scatter Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_heatmap_charts" class="side-menu__item">Heatmap Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_treemap_charts" class="side-menu__item">Treemap Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_pie_charts" class="side-menu__item">Pie Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_radialbar_charts" class="side-menu__item">Radialbar Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_radar_charts" class="side-menu__item">Radar Charts</a>
                                            </li>
                                            <li class="slide">
                                                <a asp-controller="Charts" asp-action="apex_polararea_charts" class="side-menu__item">Polararea Charts</a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Charts" asp-action="chartjs_charts" class="side-menu__item">Chartjs Charts</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Charts" asp-action="echarts" class="side-menu__item">Echart Charts</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide__category -->
                            <li class="slide__category"><span class="category-name">Maps & Icons</span></li>
                            <!-- End::slide__category -->

                            <!-- Start::slide -->
                            <li class="slide has-sub">
                                <a href="javascript:void(0);" class="side-menu__item">
                                    <i class="bx bx-map side-menu__icon"></i>
                                    <span class="side-menu__label">Maps</span>
                                    <i class="fe fe-chevron-right side-menu__angle"></i>
                                </a>
                                <ul class="slide-menu child1">
                                    <li class="slide side-menu__label1">
                                        <a href="javascript:void(0);">Maps</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Maps" asp-action="google_maps" class="side-menu__item">Google Maps</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Maps" asp-action="leaflet_maps" class="side-menu__item">Leaflet Maps</a>
                                    </li>
                                    <li class="slide">
                                        <a asp-controller="Maps" asp-action="vector_maps" class="side-menu__item">Vector Maps</a>
                                    </li>
                                </ul>
                            </li>
                            <!-- End::slide -->

                            <!-- Start::slide -->
                            <li class="slide">
                                <a asp-controller="Icons" asp-action="icons" class="side-menu__item">
                                    <i class="bx bx-store-alt side-menu__icon"></i>
                                    <span class="side-menu__label">Icons</span>
                                </a>
                            </li>
                            <!-- End::slide -->
                        </ul>
                        <div class="slide-right" id="slide-right"><svg xmlns="http://www.w3.org/2000/svg" fill="#7b8191" width="24" height="24" viewBox="0 0 24 24"> <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path> </svg></div>
                    </nav>
                    <!-- End::nav -->

                </div>
                <!-- End::main-sidebar -->

            </aside>